name: Build and Deploy Structures Website

on:
  push:
    branches:
      - main
    paths:
      - 'website/**'

jobs:
  build_and_deploy_website:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9
          run_install: false

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: "./website/pnpm-lock.yaml"

      - name: Install dependencies
        run: |
          cd website
          pnpm install

      - name: Build Structures site
        run: |
          cd website
          pnpm generate

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: website/.output/public
          publish_branch: gh-pages
          destination_dir: website
          keep_files: false
